.container-fluid {
    .row {
      .col-md-2 {
        background-color: #f8f9fa;
        padding-top: 20px !important;
      }
      .col-md-10 {
        .content {
          background-color: #fff;
         
  
          .calendar-container {
            background-color: #f9f9f9;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
  }
  